* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
} 
a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}
body {
    width: 1152px;
    margin: 0 auto;
}

.item-head {
width: 1152px;
height: 50px;
background-color: #f5f5f6;
display: flex;
justify-content: space-between;
align-items: center;
background: #F5F5F6;
padding: 0 40px;
}
.item-img{
}
.giris{
    font-family: sans-serif;
    border-radius: 3px;
    font-weight: bold;
    padding: 8px 4px; 
    border: solid 1px gray;

}
.giris:hover {
    background-color: darkviolet;
    cursor: pointer;
    border-radius: 2px;
    font-family: sans-serif;
}

.item-list{
    list-style-type: none;
    height: 50px;
    display: flex;
    align-items: center;
}

.item-list li {
    height: 22px;
    margin-right: 40px;
    color: black;
    border: solid 1px grey;
    border-radius: 3px;
    font-weight: bold;
    font-family: sans-serif;
    transition: 1s;
}
.item-list li:hover{
    background-color: darkviolet;
    border: solid 1px grey;
    border-radius: 2px;
}

.item-img{
}


.itemconvert {
    
  width: 700px;
  margin: 100px auto;
    
}

.itemleft{
    color: lightgray;
    size: small;
    margin-top: 30px;
}
.itemlist2{
    list-style-type: none;
    display: flex; 
}


.zz2{
    width: 20px;
    display: flex;
}

.itemlist2 li{
    margin-right: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.ayri1{ 
    background-color: darkviolet;
    transition: 1s;
}
.word1{
    height: 102px;
    width: 280px;
    border: 1px solid gray;
    margin-top: 18px;
    border-radius: 5px;
    
    }
    .word1left{
        width: 100%;
        font-size: 36px;
        border: none;
        margin-top: 10px;
        
        }
  
    .itemleft11{
        color: lightgray;
        size: small;
        margin-top: 30px;
    }
    .itemlist22{
        list-style-type: none;
        display: flex;
    }
    .itemlist22 li{
        margin-right: 20px;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    
    }    
    .zz1{
        width: 20px;
        display: flex;
    }
    .word2{
        height: 102px;
        width: 280px;
        border: 1px solid gray;
        margin-top: 18px;
        border-radius: 5px;
        
        }
        .word2left{
            width: 100%;
            font-size: 36px;
            border: none;
            margin-top: 10px;
            }
            .item-item{

            }
      .item-great{
        display: flex;

      }
.item-little{margin-right:100px;
}
.pleft1, .pleft2{
    margin-top: 20px;
}